<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>

    <script src="javascripts/chat.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href="stylesheets/magnific-popup.css" rel="stylesheet">

    <style>
    img {

        margin-bottom: 20px;
    }
    </style>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.magnific-popup.js"></script>

    <script>
    $(function(){
        $('.test-popup-link').magnificPopup({
            type: 'image',
            galary: {
              enabled:true
            }
        });
    });
    </script>
  </head>

  <body>

  <div ng-controller="ChatCtrl">
    <h1>Simple-Chat</h1>
    <ul>
      <li ng-repeat="message in messages track by $index">{{message}}</li>
    </ul>

    <form ng-submit="sendMessage()">
      <input type="text" ng-model="messageText" placeholder="Type your message here" />
      <input type="submit" value="Send" />
    </form>
  </div>

  <!-- Responsive Gallery - START -->
  <div class="container">
      <div class="row">
          <div class="row">
              <div class="col-md-4">
                  <div class="well">
                    <a href="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" class="test-popup-link">
                      <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                    </a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="well">
                    <a href="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" class="test-popup-link">
                      <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                    </a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="well">
                    <a href="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" class="test-popup-link">
                      <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                    </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Responsive Gallery - END -->
  </body>
</html>

