<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>

    <script src="javascripts/chat.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style>
    img {
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        margin-bottom: 20px;
    }
    img:hover {
        filter: none; /* IE6-9 */
        -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </head>

  <body>

  <div ng-controller="ChatCtrl">
    <h1>Simple-Chat</h1>
    <ul>
      <li ng-repeat="message in messages track by $index">{{message}}</li>
    </ul>

    <form ng-submit="sendMessage()">
      <input type="text" ng-model="messageText" placeholder="Type your message here" />
      <input type="submit" value="Send" />
    </form>
  </div>








<div class="container">

<div class="page-header">
    <h1>Responsive Gallery <small>Bootstrap template, demonstrating responsive gallery with hover effects</small></h1>
</div>

<!-- Responsive Gallery - START -->

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Sample Image Gallery</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h4.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h7.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h3.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h6.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h1.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h2.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h5.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Responsive Gallery - END -->

</div>















  </body>

</html>

